@model Gemstone.Web.ViewModels.SpecialistModel

@{
    ViewData["Title"] = $"Details of {Model.Name}";
}

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ID)</th>
        <td>@Html.DisplayFor(model => model.ID)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.IsBusy)</th>
        <td>@Html.DisplayFor(model => model.IsBusy)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.JoinedOn)</th>
        <td>@Html.DisplayFor(model => model.JoinedOn)</td>
    </tr>
</table>
