@model IList<Gemstone.Web.ViewModels.SpecialistModel>


@* todo check if it looks good *@


<table class="table">
    <thead class="thead-light">
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.First().IsBusy)</th>
            <th>@Html.DisplayNameFor(model => model.First().JoinedOn)</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var element in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => element.Name)</td>
                    <td>@Html.DisplayFor(modelItem => element.IsBusy)</td>
                    <td>@Html.DisplayFor(modelItem => element.JoinedOn) </td>
                    <td>@Html.ActionLink("See details", "Details", new { id = element.Id })</td>
                </tr>
            }
        }
    </tbody>
</table>
