@model IList<SpecialistModel>
@using Gemstone.Web.Models


1
<table style="table-layout: fixed">
    <tr style="color:blue">
        <td>@Html.LabelFor(x => x.First().Name)</td>
        <td>@Html.LabelFor(x => x.First().IsBusy)</td>
        <td>@Html.LabelFor(x => x.First().JoinedOn)</td>
    </tr>

    @{
        foreach (var entry in Model)
        {

            <tr>
                <td>@entry.Name</td>
                <td>@entry.IsBusy     </td>
                <td>@entry.JoinedOn </td>
            </tr>
        }
    }
</table>


2

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsBusy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoinedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>