@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor
@{
    var url = $"{accessor.HttpContext.Request.Scheme}://{accessor.HttpContext.Request.Host}/";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["PageTitle"]</title>
    @* preserve this css/js order *@
    <link rel="stylesheet" href="@(url +"css/bootstrap.min.css")">
    <link rel="stylesheet" href="@(url +"css/override.css")">
    <script src="@(url +"/js/jquery-3.4.0.js")"></script>
    <script src="@(url +"js/bootstrap.min.js")"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">Start</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collaps ibleNavbar">
            <ul class="navbar-nav navbar-collapse">
                @if (accessor.HttpContext.User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Specialist")">Browse specialists</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About","Home")">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("UserStories","Home")">User stories</a>
                </li>
            </ul>
            <th:partial name="_LoginPartial">


        </div>
    </nav>


    @* todo consider making it partial *@
    @if (TempData["loggedOut"] != null && (bool)TempData["loggedOut"])
    {
        <div class="alert alert-success" id="loggedOut">
            <strong>Logged out!</strong> Remember to log out after you end your work to prevent someone to use your identity.
        </div>
        <script>
            setTimeout(reload, 5000);
            function reload() {
                $('#loggedOut').hide();
            }
        </script>
    }

    @* todo consider making it partial *@
    @if (TempData["accountCreated"] != null && (bool)TempData["accountCreated"])
    {
        <div class="alert alert-success" id="accountCreated">
            <strong>Account created!</strong> Now you can login into your account. Basing on your identity you have now access to specific parts of application.
        </div>
        <script>
            setTimeout(reload, 5000);
            function reload() {
                $('#accountCreated').hide();
            }
        </script>
    }





    <div class="container">
        <div class="row">
            <div class="col-md-2">
                @* intentiontally empty *@
            </div>
            <div class="col-md-8">
                @RenderBody()
            </div>
            <div class="col-md-2">
                @* intentiontally empty *@
            </div>
        </div>
    </div>

</body>
</html>